@font-face {
  font-family: "Noto Sans TC";
  src: url("/fonts/NotoSansTC-Regular.otf");
}

body {
  margin: 0 auto;
  max-width: 1920px;
  background-color: #e2d9d3;
  font-family: "Noto Sans TC", sans-serif;
  .wrapper {
    height: 630px;
    background-color: #204379;
    background-image: url(../IMG/bgwave.png);
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      padding-top: 60px;
      text-align: center;
      p {
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 125%;
        /* identical to box height, or 40px */

        letter-spacing: 0.2em;

        color: #ffffff;
        text-align: center; /* 將文本水平居中 */
      }
    }

    .form {
      padding-top: 30px;
      display: block;
      margin: 0 auto;
    }
    .textbox {
      width: 808px;
      height: 322px;
      background-color: #dae4f1;
      border: 1px solid #b57556;
      border-radius: 20px;
      margin: 0 auto;
      color: #204379;
      position: relative;
      .oar {
        position: absolute;
        top: -24px;
        right: 16px;
      }
      .sup {
        position: absolute;
        top: -37px;
        right: 15px;
      }
      .supfire {
        position: absolute;
        top: 300px;
        left: 35px;
      }

      @keyframes enlarge-fade {
        0% {
          transform: scale(1);
          opacity: 1;
        }
        50% {
          transform: scale(1.2);
          opacity: 0.5;
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }

      .fire {
        position: absolute;
        top: 315px;
        left: 10px;
        animation: enlarge-fade 2s infinite;
      }
      .part1 {
        display: flex; /* 設置part1為Flexbox */
        flex-direction: column; /* 將子元素垂直排列 */
        justify-content: center; /* 將子元素水平居中 */

        .title {
          display: flex; /* 將title設置為Flexbox */
          align-items: center; /* 垂直居中對齊子元素 */
          margin: 0 auto;
          padding-top: 25px;
          h1 {
            font-family: "Noto Sans TC";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 125%;
          }
        }

        .text {
          margin-top: 20px; /* 設置title和text之間的間距 */
          margin-left: 20px;
          text-align: left;
          p {
            font-family: "Noto Sans TC";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
          }
        }
      }
      .part2 {
        display: flex; /* 設置part1為Flexbox */
        flex-direction: column; /* 將子元素垂直排列 */
        justify-content: center; /* 將子元素水平居中 */
        .title {
          display: flex; /* 將title設置為Flexbox */
          align-items: center; /* 垂直居中對齊子元素 */
          margin: 0 auto;
          padding-top: 20px;
          h1 {
            font-family: "Noto Sans TC";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 125%;
          }
        }

        .text {
          margin-top: 20px; /* 設置title和text之間的間距 */
          margin-left: 20px;
          p {
            font-family: "Noto Sans TC";
            font-weight: 400;
            font-size: 16px;
            line-height: 180%;
            .bold1 {
              font-weight: bold;
              text-decoration: underline;
            }
            .bold2 {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .wave {
    height: 110px;
    background-image: url(../IMG/wave.png);
  }
  .middle {
    height: 630px;
    background-color: #e2d9d3;
    display: flex;
    justify-content: center;
    flex-direction: column; /* 垂直排列 */
    .form2 {
      margin: -35px auto;
      z-index: 2;
      position: relative;
      .form2-turtle {
        position: absolute;
        left: 75%;
      }
    }
    .form-container {
      margin: 0 auto;
      width: 575px;
      padding: 20px;
      background-color: #fff;
      border: 2px solid #b57556;
      border-radius: 15px;
      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        label {
          font-weight: bold;
          margin-bottom: 5px;
        }
        input {
          border: 1px solid #204379;
          padding: 5px;
          width: 98%;
          font-size: 16px;
          margin-top: 5px;
        }
        select {
          border: 1px solid #204379;
          padding: 5px;
          width: 100%;
          font-size: 16px;
          margin-top: 5px;
        }
      }
    }
    .submit-button {
      margin: 0 auto;
    }
  }
  .gift {
    background-image: url(../IMG/sandbg.png);
    .itembox {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 600px;
      margin: 0 auto;
      .item {
        margin: 20px 20px 20px 0;
        color: #fff;
        width: 178px;
        height: 112px;
        background-color: #fff;
        border-radius: 15px;
        position: relative;
        box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.1);
        h2 {
          color: white;
          position: absolute;
          left: 45%;
          z-index: 2;
          font-size: 17px;
        }

        img {
          position: absolute;
          top: -25px;
          left: 30%;
        }

        h1 {
          border-radius: 25px;
          border: #b3b960 solid 1px;
          width: 45px;
          height: 23px;
          font-size: 12px;
          line-height: 21px;
          color: #b3b960;
          text-align: center;
          position: absolute;
          top: 18px;
          left: 125px;
        }

        p {
          color: #b3b960;
          font-weight: 700;
          font-size: 18px;
          text-align: center;
          margin: 0 auto;
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 100%;
        }
      }
    }
  }
  .lighthouse {
    height: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .border {
      border-left: 1px solid #204379;
      border-right: 1px solid #204379;
      h1 {
        text-align: center;
        color: #b57556;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
      }
      p {
        text-align: center;
        color: #204379;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
      }
    }
  }
  .bottom {
    background-color: #204379;
    border-radius: 50px 50px 0px 0px;
    height: 677px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      text-align: center;
      font-size: 20px;
      color: #ffffff;
      margin-bottom: 25px;
    }
  }
}
